# Supabase → Project Settings → API
NEXT_PUBLIC_SUPABASE_URL=https://zegdrmgietrwbkjbflzp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_74W5yi81n5tyRGIXYUplpw_YaCab_5-
# URL pública del sitio (en Vercel: https://<tu-proyecto>.vercel.app o tu dominio)
NEXT_PUBLIC_SITE_URL=http://localhost:3000
